<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggs.dao.UserMapper">
    <insert id="insertUser" parameterType="com.ggs.pojo.User">
        insert into user(id,name,pwd) values(#{id},#{name},#{pwd});
    </insert>
    <update id="updateUser" parameterType="com.ggs.pojo.User">
        update mybatis.user set name=#{name},pwd=#{pwd} where id=#{id}
    </update>
    <update id="updateUser2" parameterType="map">
        update user set name=#{xxx} where id=#{myid}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>
    <select id="getAll" resultType="com.ggs.pojo.User">
        select * from user
    </select>
    <select id="getById" resultType="com.ggs.pojo.User" parameterType="int">
        select * from user where id=#{id}
    </select>
    <select id="getUserLike" resultType="com.ggs.pojo.User">
        select * from user where name like "%"#{name}"%"
    </select>
</mapper>