<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggs.dao.BlogMapper">

    <insert id="addBlog" parameterType="Blog">
        insert into blog(id,title,author,create_time,views) values(#{id},#{title},#{author},#{createTime},#{views})
    </insert>

    <select id="queryBlogIf" parameterType="map" resultType="Blog">
        select * from blog where 1=1
        <if test="title != null">
--             and title like '%${title}%'
--             and title like concat('%','${title}','%')
            and title like concat('%',#{title},'%')
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
    </select>
</mapper>